

#wrapper{
    max-width: 960px;
    margin: auto;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    color: #737373;
    text-align: center;
}

p, li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #737373;
}

header{
    margin-bottom: 0px;
}

.header-image{
    width: 100%;
    height: auto;
}

.header-block{
    position: relative;
    text-align: center;
}

.header-text-block{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
    padding: 30px 80px;
    border: 3px solid #f3c7cf;
    box-shadow: 8px 0px 30px -10px #c9c9c9;
}

.title-1{
    color: #db187d;
    margin-bottom: 0px;
}

.title-2{
    margin-top: 0px;
    color: #f3c7cf;
}

nav {
    max-width: 800px;
    margin:auto;
}

.navigation-bar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navigation-bar li {
    float: left;
    text-align: center;
    display: block;
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    font-weight: 600;
    color: #db187d;
}

.navigation-bar li:first-child {
    padding-left:17px;
}

.navigation-bar li:last-child {
    padding-right:0px;
}

.navigation-bar a{
    display: block;
    padding: 10px 26px;
    text-decoration: none; 
    color: #db187d;
    margin-right:10px;
}

.navigation-bar a.active{
    padding: 10px 26px;
    text-decoration: none; 
    color:white;
    background-color: #db187d;
    border-radius: 50px;
}

.navigation-bar a:hover:not(.active){
    background-color: #f3c7cf;
    color: #db187d;
    border-radius: 50px;
}

.clearfix{
    clear:both;
}

article{
    max-width: 800px;
    margin:auto;
    height: auto;
    border-top: 1px dashed #f3c7cf;
    border-bottom: 1px dashed #f3c7cf;
    padding-bottom: 90px;
}

.article-box h2{
    padding-top:70px;
}

.article-box p{
    margin-top: 50px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 50px;
}

footer{
    background-color: #c5d9f1;
}

footer p{
    text-align: center;
    font-size: 12px;
    padding: 30px 0px;
    font-weight: 600;
}

.footer-pink{
    font-weight: 600;
    color: #db187d;
}

/* ---- INDEX.HTML ---- */

.article-box{
    max-width: 500px;
    margin: auto;
    height: auto;
}

/* ---- ABOUTME.HTML ---- */